@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.signup{
    width: 100vw;
    height: 100vh;
    /* background-color: #1E1E1E; */
    /* background-color: #18181B; */
    background-color: #121212;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.signup-upper{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
}
.signup-back{
    margin-left: 9vh;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 5vh;
    cursor: pointer;
}
.signup-middle{
    height: 65vh;
    width: 100vw;
    display: flex;
}
.signup-middle-1{
    width: 30vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-triangle{
    width: 20vw;
    margin-top: 28vh;
}
.signup-middle-2{
    width: 40vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form{
    width: 22vw;
    height: 62vh;
    text-align: left;
    font-family: "Outfit", sans-serif;
}


/* .signup-form>p{
    margin: 0px;
    font-size: 2vh;
    color: white;
} */
.signup-form-pw{
    width: 20vw;
    height: 5vh;
    border: 1.8px solid #C4C4C4;
    border-radius: 1.6vh;
    background: transparent;
    margin: 1vh 0vw;
    outline: none;
}
.u-pw{
    margin: 0px;
    font-size: 2vh;
    color: white;
    margin-top: 2.5vh;
}
.signup-form-txt{
    margin-bottom: 4vh;
    width: 20vw;
    height: 5vh;
    border: 1.8px solid #C4C4C4;
    border-radius: 1.6vh;
    background: transparent;
    margin: 1vh 0vw;
    outline: none;
}
.signup-form-txt::placeholder{
    padding-left: 0vw;
    font-family: "Outfit", sans-serif;
    color: #C4C4C4;
    font-weight: 100;
}
.signup-form-txt[type=text]{
    padding-left: 1vw;
    font-family: "Outfit", sans-serif;
    color: #C4C4C4;
    font-weight: 300;
}
.signup-form-pw::placeholder{
    padding-left: 0vw;
    font-family: "Outfit", sans-serif;
    color: #C4C4C4;
    font-weight: 100;
}
.signup-form-pw[type=password]{
    padding-left: 1vw;
    font-family: "Outfit", sans-serif;
    color: #C4C4C4;
    font-weight: 300;
}
.signup-form-btn{
    width: 20.5vw;
    height: 5vh;
    border-radius: 1.6vh;
    border: none;
    background-color: #1A5FFF;
    font-family: "Outfit", sans-serif;
    font-size: 2vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    cursor: pointer;
}
.signup-form-p1{
    margin: 0px;
    font-size: 2vh;
    color: white;
}
.signup-form-p2{
    margin: 0px;
    font-size: 2vh;
    color: white;
    margin-top: 2.5vh;
}
.signup-form-p3{
    font-size: 2vh;
    color: white;
    margin: 0vh 0vw 0.9vh 2vw;
}
.signup-form-span{
    color: #1A5FFF;
    cursor: pointer;
}

.signup-middle-3{
    width: 30vw;
    height: 65vh;
    display: flex;
    justify-content: end;
    align-items: self-start;
}
.signup-middle-3-img{
    width: 8vw;
}

.signup-lower{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: self-end;
}
.signup-lower-image{
    width: 16vw;
    margin-left: 34vw; 
}